.contact .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 0px;
}
.contact .css-sghohy-MuiButtonBase-root-MuiButton-root{
    text-transform: capitalize;
    background-color: #6161FF;
    padding: 0.6rem 3rem;
}